<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://kahsolt.cc:3306/windchest"/>
        <property name="username" value="wind"/>
        <property name="password" value="chest"/>
    </bean>

    <!--配置SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" lazy-init="false">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://kahsolt.cc:3306/windchest</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <!--
        <property name="annotatedClasses">
            <list>
                <value>tk.kahsolt.windchest.entity.ChestEntity</value>
                <value>tk.kahsolt.windchest.entity.UserEntity</value>
                <value>tk.kahsolt.windchest.entity.WindEntity</value>
            </list>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:hibernate.hbm.xml</value>
            </list>
        </property>
        -->
    </bean>

    <!-- 事务管理 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="autodetectDataSource" value="false" />
    </bean>
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="save*"/>
            <tx:method name="del*"/>
            <tx:method name="remove*"/>
            <tx:method name="update*"/>
            <tx:method name="edit*"/>
            <tx:method name="modify*"/>
            <tx:method name="repair"/>
            <tx:method name="deleteAndRepair"/>

            <tx:method name="get*" propagation="SUPPORTS"/>
            <tx:method name="find*" propagation="SUPPORTS"/>
            <tx:method name="search*" propagation="SUPPORTS"/>
            <tx:method name="*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="transactionPointcut" expression="execution(* tk.kahsolt.windchest.service.*.*(..))"/>
        <aop:advisor pointcut-ref="transactionPointcut" advice-ref="transactionAdvice"/>
    </aop:config>

    <!--Entity Bean-->
    <bean id="user" class="tk.kahsolt.windchest.entity.UserEntity"/>
    <bean id="wind" class="tk.kahsolt.windchest.entity.WindEntity"/>
    <bean id="chest" class="tk.kahsolt.windchest.entity.ChestEntity"/>
    <!-- IoC -->
    <bean id="userDao" class="tk.kahsolt.windchest.DAO.UserDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userService" class="tk.kahsolt.windchest.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userAction" class="tk.kahsolt.windchest.action.UserAction">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="windDao" class="tk.kahsolt.windchest.DAO.WindDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="windService" class="tk.kahsolt.windchest.service.WindService">
        <property name="windDao" ref="windDao"/>
    </bean>
    <bean id="uploadAction" class="tk.kahsolt.windchest.action.UploadAction">
        <property name="windService" ref="windService"/>
        <property name="wind" ref="wind"/>
    </bean>

    <bean id="chestAction" class="tk.kahsolt.windchest.action.ChestAction">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="mailAction" class="tk.kahsolt.windchest.action.MailAction">
        <property name="userDao" ref="userDao"/>
        <property name="windDao" ref="windDao"/>
    </bean>

</beans>